p {
    color: #000000;
}
*{
    box-sizing: border-box; 
}

body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 5px;
    padding: 0;
    line-height: 1.6;
}

header {
    background-color: #a1c4e4;
    color: white;
    padding: 20px 0;
    text-align: center;
}

li a {
    color: #ec00cc;
    text-decoration: none;
    
}
body { 
    max-width: 800px; margin: 0px auto; padding: 20px; background-color: #fffbfb; border-radius: 8px; box-shadow: 0 0 10px rgba(5, 0, 29, 0.1); 
}
li a:hover {
    text-decoration: underline;
}
input, select, textarea, button {
    font: inherit;
    
}

input, select, textarea {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button{
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: hand;
    border-radius: 4px;
}

button:hover {
    background-color: #45a049;
}